/* CardItem.js */
.cardStyle{
 

    display:'flex';
     width:50;
     background-color: aqua;
  }
  .cardImg{
    height:400;
     width:300;
  }
  .cardText{
    display:'flex';
    flex-direction: column;
    justify-content: center;
  }
  