/* CardItem.js */
*{
  box-sizing: border-box;
}

.CradHeader{
  text-align: center;
}
.cardImg{
  margin-left: -10px;
  height: 30rem;
  width: 27rem;
 

}

   .cardFirst{
    display: flex;
    flex-direction: row;
    
   
    align-items: center;
    /* width: 100%; */
    flex-wrap: wrap;
    margin-left: 20px;

   }

  .cardSecond{
    display: flex;
    flex-direction: column;
     justify-content: space-between;
     margin-left: 12%;
     padding:40px;
     /* border: 2px solid black; */
     box-shadow: 2px 2px 2px 2px gray;
     border-radius: 10px;
    
     align-items: center;
     margin-bottom: 4px;
  

  }
  
  
  .cardThird{
    box-shadow: 2px 2px 2px 2px gray;
    padding: 10px;
    border-radius: 10px;
    margin-left: 12%;
    display: flex;
    flex-direction: column;
    
    
    align-items: center
   
   
  }
  .imgaeStyle{
    display:flex;
   
    box-shadow: 2px 2px 2px 2px gray;
    border-radius: 10px;

  }
  
 
